<div class="container">
  <h1>Welcome to my portfolio !</h1>
  <%= image_tag "RemBG_2.jpg", class: "avatar" %>
  <%= image_tag "RemLul2.jpg", class: "avatar" %>
  <%= image_tag "RemLul.jpg", class: "avatar" %>
  <div class="d-flex">
    <span class="btn btn-left">Classic</span>
    <span class="btn btn-middle">Dark</span>
    <span class="btn btn-right">Funky</span>
  </div>
</div>
