<div class="show">
  <div class="container">
    <h1><%= @project.title %></h1>
    <div class="description">
      <p><%= @project.description %></p>
      <%= link_to " Home", root_path, class:"fas fa-long-arrow-alt-left btn-grey" %>
    </div>
    <div class="d-flex flex-wrap flex-column flex-lg-row justify-content-center">
      <% @project.pic.split(' ').each do |pic| %>
        <%= image_tag pic, class: "pic" %>
      <% end  %>
    </div>
  </div>
</div>
