<div class="container">
  <h1><%= @project.title %></h1>
  <%= image_tag @project.pic, class: "bigpic" %>
  <p><%= @project.description %></p>
  <%= link_to "Home", root_path, class:"btn-link" %>
</div>
