<div class="container">
  <h3><%= @project.title %></h3>
  <%= image_tag @project.pic, class: "logo" %>
  <p><%= @project.description %></p>
  <%= link_to "Home", root_path, class:"btn-link" %>
</div>
