.avatar {
  width: 180px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 20px;
}

.turn-left {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.reset {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

@media (min-width: 40em) {
  .avatar {
    width: 300px;
    border: 6px solid white;
    margin-bottom: 70px;
  }
}

// take care, .reset is also used for the flip-card effect !
