.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(banner.jpg);
  height: 100vh;
  background-position: 63% 75%;
  background-size: cover;
  h1 {
    font-family: 'Rock Salt', sans-serif;
    letter-spacing: 3px;
    font-size: 72px;
    color: white;
    text-shadow: 0 0 2px black;
  }
  p {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 2px black;
  }
}

#job-title {
  height: 50px;
}

@media (min-width: 40em) {
  .banner {
  background-position: center;
  background-size: cover;
  }
}
