.body-classic{
  background-color: $blue-1;
  h1, h2, h3, h4, p, a {
    color: $blue-4;
  }
}

.body-dark{
  background-color: $black-1;
  h1, h2, h3, h4, p, a {
    color: $grey-1;
  }
}

.body-funky{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(https://static-mapetitemercerie.o10c.net/126420-thickbox_default/-coupon-250-cm-x-110-cm-tissu-coton-a-carreaux-janis-noirvert.jpg);
  background-position: center;
  h1, h2, h3, h4 {
    color: $white;
    text-shadow: 0 0 2px black;
  }
}
