.body-classic{
  background-color: #FFFFFF;
}

.body-dark{
  background-color: #424242;
}

.body-funky{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(https://static-mapetitemercerie.o10c.net/126420-thickbox_default/-coupon-250-cm-x-110-cm-tissu-coton-a-carreaux-janis-noirvert.jpg);
  background-position: center;
}
