.button {
  background-color: rgba($color: #ffffff, $alpha: 0.5) ;
  border: 2px rgba($color: #dfdfdf, $alpha: 0.8) solid;
  width: 75px;
  text-align: center;
  padding: 6px 4px;
  cursor: pointer;
}

.btn-darky {
  background-color: $black-2;
  color: $white-1;
}

.btn-left {
  border-radius: 6px 0 0 6px;
}

.btn-right {
  border-radius: 0 6px 6px 0;
}
