.card-classic {
  background-color: $blue-2;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  padding: 16px;
}

.card-dark {
  background-color: $black-1;
  border-radius: 8px;
  box-shadow: 0 0 3px $white-1 ;
  padding: 16px;
  p {
    color: $white-1;
  }
}

.card-funky {
  background-color: rgba($pink, $alpha: 0.9);
  border-radius: 8px;
  box-shadow: 0 0 3px $banana;
  padding: 16px;
}
