.card-classic {
  background-color: $blue-2;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.8);
  padding: 16px;
  overflow: hidden;
}

.card-dark {
  background-color: $black-2;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.8);
  padding: 16px;
  overflow: hidden;
}

.card-funky {
  background: linear-gradient(30deg, $banana, $pink);
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.8);
  padding: 16px;
  overflow: hidden;
}

.effect-purpose {
  position: relative;
  height: 400px;
  .card-project {
    position:absolute;
    top:20px;
    height:360px;
    transition: all 0.3s ease;
    &:hover{
      top:0;
      height:400px;
    }
  }
}
