// classic mode palet

$blue-4: #1A374D;
$blue-3: #406882;
$blue-2: #6998AB;
$blue-1: #B1D0E0;

// dark mode palet

$black-2: #181818;
$black-1: #252525;
$black-0: #383838;
$grey-1: #a1a1a1;
$white-1: #dddddd;

// funky mode palet ! :D

$banana: rgb(241, 234, 74);
$pink: #FD96DD;
