// font-family: 'Press Start 2P';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

//font-family: 'Heebo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

//font-family: 'Rock Salt';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt');

:root {
  --ff-handwrite: 'Rock Salt';
  --ff-neutral: 'Heebo', sans-serif;
  --ff-geek: 'Press Start 2P';

  --fs-xxl: 2.3rem;
  --fs-xl: 1.5rem;
  --fs-m: 1.3rem; // weird scaling take care
  --fs-s: 1rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.6rem;
}

@media (min-width: 40em) {
  :root {
    --fs-xxl: 4.5rem;
    --fs-xl: 2rem;
    --fs-m: 2.8rem; // for typing text in banner
    --fs-s: 1.5rem;
    --fs-xs:  1rem;
    --fs-xxs: 0.75rem;
  }
}

h1, h2, h3, p {
  margin: 0;
}

p{
  font-size: var(--fs-xs);
}

.section-title {
  position: relative;
  font-family: var(--ff-handwrite);
  font-size: var(--fs-xl);
  padding: 20px 0;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    background-color: white;
    width: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    display: inline;
    background-color: red;
    height: 4px;
    width: 100%;
  }
}

@media (min-width: 40em) {
  .section-title{
    padding: 70px 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: grey;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
