// font-family: 'Press Start 2P';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

//font-family: 'Heebo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

//font-family: 'Rock Salt';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt');


h1 {
  letter-spacing: 3px;
  font-family: 'Rock Salt', sans-serif;
}

h2 {
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-family: 'Heebo', sans-serif;
  padding-top: 80px;
  padding-bottom: 24px;
}

h4 { // for navigation titles
  font-family: 'Rock Salt', sans-serif;
  cursor: pointer;
}

h5 { // for card-project titles
  font-family: 'Rock Salt', sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 2px black;
}

p {
  font-family: 'Heebo', sans-serif;
}

.fab {
  font-size: 32px;
  margin: 8px 16px;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: grey;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
