// font-family: 'Press Start 2P';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

//font-family: 'Heebo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

//font-family: 'Rock Salt';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt');


h1 {
  font-family: 'Rock Salt', sans-serif;
}

h2 {
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-family: 'Rock Salt', sans-serif;
}

h4 { // for navigation titles
  font-family: 'Rock Salt', sans-serif;
}


h6 {
  font-family: 'Heebo', sans-serif;
}


.fab {
  font-size: 32px;
  margin: 0px 16px;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: grey;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
