.game {
  h5 {
    font-family: 'Press Start 2P', sans-serif;
  }
  p {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
    margin: 0;
  }
  .true {
    color: rgb(0, 255, 0);
  }
  .false {
    color: rgb(255, 0, 0);
  }
}

.progress-container {
  width: 80%;
  border: 1px solid white;
  border-radius: 2px;
}

.green {
  background-color: rgb(0, 255, 0);
  height: 10px;
}

.red {
  background-color: rgb(255, 0, 0);
  height: 10px;
}
