.game {
  h3 {
    font-family: var(--ff-geek);
    font-size: var(--fs-s);
  }
  p {
    font-family: var(--ff-geek);
    font-size: var(--fs-xxs);
  }
  .true {
    color: rgb(0, 255, 0);
  }
  .false {
    color: rgb(255, 0, 0);
  }
}

.progress-container {
  width: 80%;
  border: 1px solid white;
  border-radius: 2px;
}

.green {
  background-color: rgb(0, 255, 0);
  height: 10px;
}

.red {
  background-color: rgb(255, 0, 0);
  height: 10px;
}
