.game {
  h3 {
    font-family: var(--ff-geek);
    font-size: var(--fs-s);
  }
  .bigger-p{
    font-size: var(--fs-xs);
  }
  p {
    font-family: var(--ff-geek);
    font-size: var(--fs-xxs);
  }
  .true {
    color: #21BF73;
  }
  .false {
    color: #FD5E53;
  }
}

.progress-container {
  width: 80%;
  border: 1px solid white;
  border-radius: 2px;
}

.green {
  background-color:#21BF73;
  height: 10px;
}

.red {
  background-color: #FD5E53;
  height: 10px;
}

.hint {
  font-size: var(--fs-s);
  color: black;
  background-color: #21BF73;
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 20px;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.8);
  margin: 10px 0;
}
