.logos {
  background-color: rgba($color: white, $alpha: 0.2);
  border-radius: 10px;
  height: 200px;
  width: 95%;
  margin: 0 auto;
}

.logo {
  height: 45px;
  padding: 4px;
}

@media (min-width: 40em) {
  .logo {
    height: 75px;
    padding: 8px;
  }
}
