.part {
  width: 100%;
  margin: 12px;
  text-align: center;
  }
.btn-msg {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3px 0px;
  cursor: pointer;
}

.msg {
  height: 300px;
  animation: fade 1s linear 1 forwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fab {
  font-size: var(--fs-xl);
}
.bigger {
  font-size: var(--fs-s);
}

@media (min-width: 40em) {
  .btn-msg {
    padding: 6px 4px;
  }
  .btn-msg-wrap {
  border: 1px solid #8d8d8d;
  border-radius: 7px;
  }
  .left {
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #8d8d8d;
  }

  .middle {
    border-right: 1px solid #8d8d8d;
  }

  .right {
    border-radius: 0 6px 6px 0;
  }

  .part {
  width: 100%;
  margin: 0;
  }
  .msg {
    height: 140px;
    width: 60%;
    margin: 20px auto;
  }
}
