.navigate-classic {
  width: 100%;
  background-color: $blue-4;
  h2 {
    font-family: var(--ff-handwrite);
    padding-bottom: 8px;
    cursor: pointer;
    color: $blue-1;
    font-size: var(--fs-s);
  }
}

.navigate-dark {
  width: 100%;
  background-color: $black-2;
  h2 {
    font-family: var(--ff-handwrite);
    padding-bottom: 8px;
    cursor: pointer;
    color: $white-1;
    font-size: var(--fs-s);
  }
}

.navigate-funky {
  width: 100%;
  background: linear-gradient(30deg, $banana, $pink);
  h2 {
    padding-bottom: 8px;
    font-family: var(--ff-handwrite);
    cursor: pointer;
    color: black;
    font-size: var(--fs-s);
  }
}

@media (min-width: 40em) {
  .navigate-classic h2,
  .navigate-dark h2,
  .navigate-funky h2 {
    padding-bottom: 0;
  }
}
