.navigate-classic {
  width: 100%;
  background-color: $blue-4;
  h2 {
    font-family: 'Rock Salt', sans-serif;
    cursor: pointer;
    color: $blue-1;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.navigate-dark {
  width: 100%;
  background-color: $black-2;
  h2 {
    font-family: 'Rock Salt', sans-serif;
    cursor: pointer;
    color: $white-1;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.navigate-funky {
  width: 100%;
  background: linear-gradient(30deg, $banana, $pink);
  h2 {
    font-family: 'Rock Salt', sans-serif;
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-bottom: 0;
  }
}
