.tags-wrap {
  background-color: rgba($color: white, $alpha: 0.2);
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 90px;
  p {
    cursor: pointer;
  }
  .bigger{
    font-size: var(--fs-s);
  }
}

.underline {
  border-bottom: 2px solid white;
}

@media (min-width: 40em) {
 .tags-wrap {
   width: 60%;
 }
}
