.testimonials-container {
  height: 300px;
  position: relative;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial {
  width: 24%;
  height: 200px;
  padding: 8px;
  background-color: rgba($color: white, $alpha: 0.3);
  border-radius: 16px;
  opacity: 0.6;
  text-align: center;
  overflow: hidden;
  transition: all 0.9s ease;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 10px ;
    font-style: italic;
  }
}

.main {
  position: absolute;
  top: 25px;
  left: 5%;
  width: 90%;
  height: 250px;
  opacity: 1;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 12px ;
    font-style: italic;
  }
}

.card-left-out {
  position: absolute;
  top: 50px;
  left: -53%;
}

.card-left {
  position: absolute;
  top: 50px;
  left: -25%;
}

.card-right {
  position: absolute;
  top: 50px;
  left: 101%;
}

.card-right-out {
  position: absolute;
  top: 50px;
  left: 129%;
}


@media (min-width: 40em) {
  .main {
    left: 30%;
    width: 40%;
    h3 {
      font-size: 26px;
    }
    p {
      font-size: 16px ;
    }
  }

  .card-left-out {
    left: -25%;
  }

  .card-left {
    left: 3%;
  }

  .card-right {
    left: 73%;
  }

  .card-right-out {
    left: 101%;
  }
}
