// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.navigate {
  background-color: rgba($color: #FD96DD, $alpha: 1.0);
}
.nav-l:hover {
  color: #F1EA4A;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: grey;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
