// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show {
  background-color: $blue-1;
  min-height: 100vh;
  h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--ff-handwrite);
    font-size: var(--fs-xl);
  }
  .description {
    width: 80%;
    margin: 10px auto;
  }
  .btn-grey {
    margin: 10px 0 0 0;
  }
}

.pic {
  width: 100%;
  margin: 8px 0;
  height: auto;
}

@media (min-width: 40em) {
  .pic {
    width: auto;
    height: 45vh;
    margin: 8px;
  }
}
