// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pic {
  margin: 10px;
  height: 33vh;
}
.leftside {
}
.rightside {
}

@media (min-width: 40em) {
  .pic {
    height: 45vh;
  }
}

.show {

  h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--ff-handwrite);
  }
}
